*, *:before, *:after {
  box-sizing: border-box;
}
body{
	margin:0px;
	background: black;
}
.js{
	display: none;
}
.container{

}
#leftBar{
	background: red;
	bottom:0px;
	left:0px;
	position:absolute;
	top:0px;
	width:15px;
	z-index: 20;
}
#rightBar{
	background: red;
	bottom:0px;
	right:0px;
	position:absolute;
	top:0px;
	width:15px;
	z-index: 20;
}